.modal-dialog {
    margin-top: 80px;
}

.modal.transform .modal-dialog {
  -webkit-transition: -webkit-transform .2s ease-in, opacity .3s ease-in;
       -o-transition:      -o-transform .2s ease-in, opacity .3s ease-in;
          transition:         transform .2s ease-in, opacity .3s ease-in;
  -webkit-transform: translate(0%, -100%) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(0,0);
      -ms-transform: translate(0%, -100%) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(0,0);
       -o-transform: translate(0%, -100%) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(0,0);
          transform: translate(0%, -100%) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(0,0);

    opacity: 0;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1,1);
      -ms-transform: translate(0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1,1);
       -o-transform: translate(0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1,1);
          transform: translate(0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1,1);
    opacity: 1;
}
